{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
	{{ form_widget(form) }}
	<input type="submit" class="btn btn-primary pull-right" value="Dodaj" />
{{ form_end(form) }}

<a href="{{ path('car_list') }}">Zobacz Twoje samochody</a>

{% endblock %}
